<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/component/pear/css/pear.css"/>
    <link rel="stylesheet" href="/static/admin/css/other/person.css"/>
    <link href="/static/component/step/step.css" rel="stylesheet">

    <style>
        .main-container .layui-form-item {
            margin-top: 5px !important;
            margin-bottom: 5px !important;
        }

        .button-container {
            left: 15px;
        }
    </style>
</head>
<body>
<!--<div class="main-container">-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding-top: 40px;">
            <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                <div carousel-item>
                    <div>
                        <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                            <div class="layui-form-item">
                                <label class="layui-form-label">名称:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" placeholder="木马名称" class="layui-input"
                                           lay-verify="string" required/>

                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">架构:</label>
                                <div class="layui-input-block">
                                    <select lay-verify="required" name="arch">
                                        <option value="x64">X64</option>
                                        <option value="x32">X32</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">操作系统:</label>
                                <div class="layui-input-block">
                                    <select lay-verify="required" name="os">
                                        <option value="windows">Windows</option>
                                        <option value="drwin">MacOS</option>
                                        <option value="linux">Linux</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">任务类型:</label>
                                <div class="layui-input-block">
                                    <select lay-verify="required" name="format">
                                        <option value="exe">exe</option>
                                        <option value="shellcode">shellcode</option>
                                        <option value="service">service</option>
                                        <option value="shared">shared</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formStep">
                                        &emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" lay-on="test-page-custom">MTLS</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" lay-on="test-page-custom">HTTP</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" lay-on="test-page-custom">DNS</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                    <button class="layui-btn" lay-submit lay-filter="formStep2">
                                        &emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div style="text-align: center;margin-top: 90px;">
                            <i class="layui-icon layui-circle"
                               style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                            <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                配置成功
                            </div>
                        </div>
                        <div style="text-align: center;margin-top: 50px;">
                            <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                            <button class="layui-btn layui-btn" lay-submit lay-filter="demo-login-end">生成程序</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script src="/static/component/step/step.js"></script>
<script>
    var BuildConf = {
        os: "windows",
        arch: 'x64',
        name: "",
        dns: "",
        mtls: "",
        http: "",
        format: ""
    };
    var contype
    var step = layui.step;
    layui.use(function () {
        var $ = layui.$;
        var layer = layui.layer;
        var util = layui.util;
        var form = layui.form;
        // 事件
        util.on('lay-on', {
            'test-page-custom': function () {
                contype = $(this).text()
                layer.open({
                    type: 1,
                    area: '350px',
                    resize: false,
                    shadeClose: true,
                    title: contype,
                    content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>

                  </div>
                  <input type="text" name="host" value="" lay-verify="required" placeholder="HOST" lay-reqtext="请填写服务端地址" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                  <input type="text" name="port" value="" lay-verify="required" placeholder="PORT" lay-reqtext="请填写服务端端口" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-login">确认</button>
              </div>
            </div>
          </div>
        `,
                    success: function () {
                        // 对弹层中的表单进行初始化渲染
                        form.render();
                        // 表单提交事件
                        form.on('submit(demo-login)', function (data) {
                            if (contype == "MTLS") {
                                BuildConf.mtls = data.field.host + ":" + data.field.port
                            } else if (contype == "HTTP") {
                                BuildConf.http = data.field.host + ":" + data.field.port
                            } else if (contype == "DNS") {
                                BuildConf.dns = data.field.host + ":" + data.field.port
                            }
                            layer.closeAll()
                            layer.msg('配置：'+ util.escape(data.field));
                        });
                    }
                });
            }
        })
    });

    layui.config({
        base: '/static/component/step/'
    }).use(['form', 'step'], function () {
        var $ = layui.$
            , form = layui.form;

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '500px',
            stepItems: [{
                title: '操作系统'
            }, {
                title: '连接方式'
            }, {
                title: '确认信息'
            }]
        });


        form.on('submit(formStep)', function (data) {
            BuildConf.arch = data.field.arch
            BuildConf.name = data.field.name
            BuildConf.os = data.field.os
            BuildConf.format = data.field.format
            step.next('#stepForm');

            return false;
        });

        form.on('submit(formStep2)', function (data) {

            step.next('#stepForm');
            return false;
        });

        $('.pre').click(function () {

            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });
    })


    layui.form.on('submit(demo-login-end)', function(data){
        console.log(BuildConf)
        var $ = layui.$;
        $.ajax({
            url:"/implant/build",
            type:"post",
            data: JSON.stringify(BuildConf),
            dataType:"json",
            headers : {'Content-Type' : 'application/json;charset=utf-8'},
            success:function(result){
                // if (result.code == 200) {
                //     location.href = "/sliver/index";
                //
                // }
            }
        });
        return false; // 阻止默认 form 跳转
    });

</script>
</body>
</html>