<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Page</title>
		<!-- 样 式 文 件 -->
		<link rel="stylesheet" href="/static/component/pear/css/pear.css" />
		<link rel="stylesheet" href="/static/admin/css/other/login.css" />
	</head>
    <!-- 代 码 结 构 -->
	<body background="/static/admin/images/background.svg" style="background-size: cover;">
		<form class="layui-form" action="javascript:void(0);">
			<div class="layui-form-item">
				<img class="logo" src="/static/admin/images/logo.png" />
				<div class="title">Pear Admin</div>
				<div class="desc">
					明 湖 区 最 具 影 响 力 的 设 计 规 范 之 一
				</div>
			</div>
			<div class="layui-inline" style="width: 235px;">
				<input name="" placeholder="在输入框提供一些常用的选项" class="layui-input" id="ID-dropdown-demo-base-input">
			</div>
			<div class="layui-upload-drag" style="display: block;" id="ID-upload-demo-drag">
				<i class="layui-icon layui-icon-upload"></i>
				<div>点击上传，或将文件拖拽到此处</div>
				<div class="layui-hide" id="ID-upload-demo-preview">
					<hr> <img src="" alt="上传成功后渲染" style="max-width: 100%">
				</div>
			</div>
		</form>
		<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
		<script>
			layui.use(function(){
				var upload = layui.upload;
				var $ = layui.$;
				// 渲染
				upload.render({
					elem: '#ID-upload-demo-drag',
					url: 'https://httpbin.org/post', // 此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
					done: function(res){
						layer.msg('上传成功');
						$('#ID-upload-demo-preview').removeClass('layui-hide')
								.find('img').attr('src', res.files.file);
						console.log(res)
					}
				});
			});
		</script>
		<!-- 资 源 引 入 -->
		<script src="/static/component/layui/layui.js"></script>
		<script src="/static/component/pear/pear.js"></script>
		<script>
			layui.use(function(){
				var dropdown = layui.dropdown;
				// 渲染
				dropdown.render({
					elem: '.demo-dropdown-base', // 绑定元素选择器，此处指向 class 可同时绑定多个元素
					data: [{
						title: 'menu item 1',
						id: 100
					},{
						title: 'menu item 2',
						id: 101
					},{
						title: 'menu item 3',
						id: 102
					}],
					click: function(obj){
						this.elem.find('span').text(obj.title);
					}
				});
				// 绑定输入框
				dropdown.render({
					elem: '#ID-dropdown-demo-base-input',
					data: [{
						title: 'menu item 1',
						id: 101
					},{
						title: 'menu item 2',
						id: 102
					},{
						title: 'menu item 3',
						id: 103
					},{
						title: 'menu item 4',
						id: 104
					},{
						title: 'menu item 5',
						id: 105
					},{
						title: 'menu item 6',
						id: 106
					}],
					click: function(obj){
						this.elem.val(obj.title);
					},
					style: 'min-width: 235px;'
				});
				// 绑定文字
				dropdown.render({
					elem: '#ID-dropdown-demo-base-text',
					data: [{
						title: 'menu item 1',
						id: 100
					},{
						title: 'menu item 2',
						id: 101,
						child: [{  // 横向子菜单
							title: 'menu item 2-1',
							id: 1011
						},{
							title: 'menu item 2-2',
							id: 1012
						}]
					},{
						title: 'menu item 3',
						id: 102
					},{
						type: '-' // 分割线
					},{
						title: 'menu group',
						id: 103,
						type: 'group', // 纵向菜单组
						child: [{
							title: 'menu item 4-1',
							id: 1031
						},{
							title: 'menu item 4-2',
							id: 1032
						}]
					},{
						type: '-' // 分割线
					},{
						title: 'menu item 5',
						id: 104
					},{
						title: 'menu item 5',
						id: 104
					}],
					click: function(obj){
						this.elem.val(obj.title);
					}
				});
			});
		</script>
	</body>
</html>
